.Search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Input {
  color: #fff;
  border: 1px solid #f2f2f2;
  background-color: transparent;
  outline: none;
  width: 20%;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.SearchButton {
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #79aadf;
}
